* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
}

header,
div,
footer {
  padding: 1rem;
}

header {
  background-color: #aaa;
}

.maincontent-a {
  background-color: #94e694;
}

.maincontent-b {
  background-color: #f0f077;
}

.maincontent-c {
  background-color: #d977f0;
}

.subcontent-a {
  background-color: #77b8f0;
}

.subcontent-b {
  background-color: #f5cb7b;
}

footer {
  background-color: #f07777;
}
