body {
  margin: 0;
	display: grid;
}

header,
main,
article,
aside,
footer {
  background-color: #94e694;
  padding: 1rem;
  text-align: center;
}

main {
  background-color: #f0f077;
}

article {
  background-color: #d977f0;
}

article:last-of-type {
  background-color: #77b8f0;
}

aside {
  background-color: #f0af77;
}

footer {
  background-color: #f07777;
}
